body {
    margin: 0;
}

#main {
    background-color: white;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

#image-container {
    display: flex;
    width: 40%;
    background-color: aquamarine;
}

#company-container {
    align-self: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#sign-up-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container {
}

form {
    display: flex;
    flex-wrap: wrap;
}